In [109]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline


from sklearn import datasets, linear_model
#import statsmodels.api as sm
from scipy import stats
from regressors import stats 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

Se toman los datos del repositorio de github con el siguiente link https://github.com/andresenrique08/CDA_Project/blob/master/Tarea%205/Absenteeism_at_work.csv

In [119]:
# Reading file from github
url = "https://raw.githubusercontent.com/andresenrique08/CDA_Project/master/Tarea%205/Absenteeism_at_work.csv"
data  = pd.read_csv(url, sep=";")
data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [120]:
data.dtypes

ID                                   int64
Reason for absence                   int64
Month of absence                     int64
Day of the week                      int64
Seasons                              int64
Transportation expense               int64
Distance from Residence to Work      int64
Service time                         int64
Age                                  int64
Work load Average/day              float64
Hit target                           int64
Disciplinary failure                 int64
Education                            int64
Son                                  int64
Social drinker                       int64
Social smoker                        int64
Pet                                  int64
Weight                               int64
Height                               int64
Body mass index                      int64
Absenteeism time in hours            int64
dtype: object

In [117]:
data.Seasons.unique()

array([1, 4, 2, 3], dtype=int64)

In [ ]:
data.Seasons.unique()

In [118]:
data[data.columns[1:]].corr()['Absenteeism time in hours'][:]

Reason for absence                -0.173116
Month of absence                   0.024345
Day of the week                   -0.124361
Seasons                           -0.005615
Transportation expense             0.027585
Distance from Residence to Work   -0.088363
Service time                       0.019029
Age                                0.065760
Work load Average/day              0.024749
Hit target                         0.026695
Disciplinary failure              -0.124248
Education                         -0.046235
Son                                0.113756
Social drinker                     0.065067
Social smoker                     -0.008936
Pet                               -0.028277
Weight                             0.015789
Height                             0.144420
Body mass index                   -0.049719
Absenteeism time in hours          1.000000
Name: Absenteeism time in hours, dtype: float64

In [7]:
#TamaÃ±o del dataframe
data.shape

(740, 21)

In [8]:
def missing_values_table(df): 
        val_per = df.isnull().sum()
        porcentaje_val_per = 100 * df.isnull().sum()/len(df)
        tabla_val_per = pd.concat([val_per, porcentaje_val_per], axis=1)
        tabla_val_per_ren_columnas = tabla_val_per.rename(
        columns = {0 : 'Valores perdidos', 1 : '% sobre el total'})
        return tabla_val_per_ren_columnas

In [9]:
missing_values_table(data)

                                 Valores perdidos  % sobre el total
ID                                              0               0.0
Reason for absence                              0               0.0
Month of absence                                0               0.0
Day of the week                                 0               0.0
Seasons                                         0               0.0
Transportation expense                          0               0.0
Distance from Residence to Work                 0               0.0
Service time                                    0               0.0
Age                                             0               0.0
Work load Average/day                           0               0.0
Hit target                                      0               0.0
Disciplinary failure                            0               0.0
Education                                       0               0.0
Son                                             0               0.0
Social drinker                                  0               0.0
Social smoker                                   0               0.0
Pet                                             0               0.0
Weight                                          0               0.0
Height                                          0               0.0
Body mass index                                 0               0.0
Absenteeism time in hours                       0               0.0

In [10]:
data = data.drop(columns=['ID','Seasons'],axis=1)

## Solo verificando que no hay datos nulos

In [11]:
X = data.drop(['Absenteeism time in hours'], axis=1)
Y = data['Absenteeism time in hours']

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.211, random_state = 0)
# ComparaciÃ³n de tamaÃ±os
X_train.shape, X_test.shape

((583, 18), (157, 18))

In [82]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

LinearRegression()

In [83]:
#To retrieve the intercept:
print(regressor.intercept_)

17.65987960570616

In [84]:
coeff_df = pd.DataFrame(zip(X.columns,regressor.coef_))  
coeff_df

                                  0          1
0                Reason for absence  -0.525496
1                  Month of absence   0.137831
2                   Day of the week  -1.235763
3            Transportation expense   0.001598
4   Distance from Residence to Work  -0.004205
5                      Service time   0.023606
6                               Age   0.251719
7            Work load Average/day   -0.012891
8                        Hit target   0.188198
9              Disciplinary failure -17.741724
10                        Education  -1.836744
11                              Son   1.467812
12                   Social drinker   0.918499
13                    Social smoker  -4.455785
14                              Pet  -0.287513
15                           Weight   0.262716
16                           Height  -0.040791
17                  Body mass index  -1.217205

In [86]:
y_pred = regressor.predict(X_test)

In [87]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 6.340333921253845
Mean Squared Error: 111.64939831725496
Root Mean Squared Error: 10.566427888234271
R^2: 0.05353685878468972

In [110]:
print("\n=========== SUMMARY ===========")
stats.summary(regressor, X_train, y_train, X.columns)

=========== SUMMARY ===========
Residuals:
    Min      1Q  Median       3Q      Max
-6.8148  2.9129  6.0112  10.1106  26.4681


Coefficients:
                                  Estimate  Std. Error  t value   p value
_intercept                       17.659880   83.979365   0.2103  0.833516
Reason for absence               -0.525496    0.066649  -7.8846  0.000000
Month of absence                  0.137831    0.166804   0.8263  0.408969
Day of the week                  -1.235763    0.384775  -3.2117  0.001393
Transportation expense            0.001598    0.006961   0.2296  0.818489
Distance from Residence to Work  -0.004205    0.039876  -0.1055  0.916048
Service time                      0.023606    0.193884   0.1218  0.903137
Age                               0.251719    0.110276   2.2826  0.022812
Work load Average/day            -0.012891    0.009859  -1.3075  0.191575
Hit target                        0.188198    0.127284   1.4786  0.139797
Disciplinary failure            -17.741724    2.944269  -6.0259  0.000000
Education                        -1.836744    0.944178  -1.9453  0.052216
Son                               1.467812    0.580011   2.5307  0.011647
Social drinker                    0.918499    1.693875   0.5422  0.587856
Social smoker                    -4.455785    2.302333  -1.9353  0.053433
Pet                              -0.287513    0.494033  -0.5820  0.560811
Weight                            0.262716    0.089722   2.9281  0.003543
Height                           -0.040791    0.064634  -0.6311  0.528220
Body mass index                  -1.217205    0.458119  -2.6570  0.008101
---
R-squared:  0.16037,    Adjusted R-squared:  0.13357
F-statistic: 5.98 on 18 features

## Nuevos ajustes a los datos

### Con minmax

In [90]:
# Se usa el minmaxscaler
scaler_minmax = MinMaxScaler()
data_minmax = pd.DataFrame(scaler_minmax.fit_transform(data), columns = data.columns) 
data_minmax.head()

,Reason for absence,Month of absence,Day of the week,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0.928571,0.583333,0.25,0.633333,0.659574,0.428571,0.193548,0.194471,0.842105,0.0,0.0,0.50,1.0,0.0,0.125,0.653846,0.272727,0.578947,0.033333
1,0.000000,0.583333,0.25,0.000000,0.170213,0.607143,0.741935,0.194471,0.842105,1.0,0.0,0.25,1.0,0.0,0.000,0.807692,0.454545,0.631579,0.000000
2,0.821429,0.583333,0.50,0.225926,0.978723,0.607143,0.354839,0.194471,0.842105,0.0,0.0,0.00,1.0,0.0,0.000,0.634615,0.212121,0.631579,0.016667
3,0.250000,0.583333,0.75,0.596296,0.000000,0.464286,0.387097,0.194471,0.842105,0.0,0.0,0.50,1.0,1.0,0.000,0.230769,0.151515,0.263158,0.033333
4,0.821429,0.583333,0.75,0.633333,0.659574,0.428571,0.193548,0.194471,0.842105,0.0,0.0,0.50,1.0,0.0,0.125,0.653846,0.272727,0.578947,0.016667

In [93]:
X_minmax = data_minmax.drop(['Absenteeism time in hours'], axis=1)
Y_minmax= data_minmax['Absenteeism time in hours']

In [94]:
X_train_minmax, X_test_minmax, y_train_minmax, y_test_minmax = train_test_split(X_minmax, Y_minmax, test_size = 0.211, random_state = 0)
# ComparaciÃ³n de tamaÃ±os
X_train_minmax.shape, X_test_minmax.shape

((583, 18), (157, 18))

In [95]:
regressor_minmax = LinearRegression()  
regressor_minmax.fit(X_train_minmax, y_train_minmax) #training the algorithm

LinearRegression()

In [96]:
#To retrieve the intercept:
print(regressor_minmax.intercept_)

0.14887664101070933

In [97]:
coeff_df_minmax = pd.DataFrame(zip(X_minmax.columns,regressor_minmax.coef_))  
coeff_df_minmax

                                  0         1
0                Reason for absence -0.122616
1                  Month of absence  0.013783
2                   Day of the week -0.041192
3            Transportation expense  0.003596
4   Distance from Residence to Work -0.001647
5                      Service time  0.005508
6                               Age  0.065028
7            Work load Average/day  -0.018580
8                        Hit target  0.029798
9              Disciplinary failure -0.147848
10                        Education -0.045919
11                              Son  0.048927
12                   Social drinker  0.007654
13                    Social smoker -0.037132
14                              Pet -0.019168
15                           Weight  0.113844
16                           Height -0.011217
17                  Body mass index -0.192724

In [98]:
y_pred_minmax = regressor_minmax.predict(X_test_minmax)

In [99]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test_minmax, y_pred_minmax))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test_minmax, y_pred_minmax))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_minmax, y_pred_minmax)))
print('R^2:', metrics.r2_score(y_test_minmax, y_pred_minmax))

Mean Absolute Error: 0.05283611601044873
Mean Squared Error: 0.007753430438698269
Root Mean Squared Error: 0.08805356573528564
R^2: 0.0535368587846885

In [112]:
print("\n=========== SUMMARY ===========")
stats.summary(regressor_minmax, X_train_minmax, y_train_minmax, X_minmax.columns)

=========== SUMMARY ===========
Residuals:
    Min      1Q  Median      3Q     Max
-0.8647 -0.0155  0.0138  0.0414  0.1586


Coefficients:
                                 Estimate  Std. Error  t value   p value
_intercept                       0.148877    0.036087   4.1255  0.000042
Reason for absence              -0.122616    0.016190  -7.5734  0.000000
Month of absence                 0.013783    0.015820   0.8712  0.383981
Day of the week                 -0.041192    0.012485  -3.2993  0.001029
Transportation expense           0.003596    0.021768   0.1652  0.868859
Distance from Residence to Work -0.001647    0.019046  -0.0865  0.931117
Service time                     0.005508    0.047495   0.1160  0.907716
Age                              0.065028    0.030227   2.1513  0.031863
Work load Average/day           -0.018580    0.019569  -0.9495  0.342766
Hit target                       0.029798    0.022869   1.3030  0.193103
Disciplinary failure            -0.147848    0.023641  -6.2539  0.000000
Education                       -0.045919    0.023109  -1.9870  0.047386
Son                              0.048927    0.018875   2.5922  0.009777
Social drinker                   0.007654    0.011694   0.6545  0.513032
Social smoker                   -0.037132    0.018493  -2.0079  0.045114
Pet                             -0.019168    0.032040  -0.5982  0.549908
Weight                           0.113844    0.157188   0.7243  0.469201
Height                          -0.011217    0.070674  -0.1587  0.873945
Body mass index                 -0.192724    0.172687  -1.1160  0.264868
---
R-squared:  0.16037,    Adjusted R-squared:  0.13357
F-statistic: 5.98 on 18 features

### Con Standard

In [91]:
# Se usa el StandardScaler
scaler = StandardScaler()
data_estandar = pd.DataFrame(scaler.fit_transform(data), columns = data.columns) 
data_estandar.head()

,Reason for absence,Month of absence,Day of the week,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0.804938,0.196763,-0.643947,1.011408,0.429556,0.101770,-0.532868,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.19285,0.851673,-0.019046,0.775932,-0.219511
1,-2.280124,0.196763,-0.643947,-1.544379,-1.121694,1.242825,2.092860,-0.818212,0.638686,4.183300,-0.433857,-0.017234,0.872872,-0.280566,-0.56624,1.473056,0.975828,1.009438,-0.519767
2,0.448970,0.196763,0.059924,-0.632665,1.441240,1.242825,0.239405,-0.818212,0.638686,-0.239046,-0.433857,-0.928191,0.872872,-0.280566,-0.56624,0.774000,-0.350671,1.009438,-0.369639
3,-1.449530,0.196763,0.763796,0.861947,-1.661258,0.329981,0.393859,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,3.564226,-0.56624,-0.857131,-0.682295,-0.625100,-0.219511
4,0.448970,0.196763,0.763796,1.011408,0.429556,0.101770,-0.532868,-0.818212,0.638686,-0.239046,-0.433857,0.893723,0.872872,-0.280566,0.19285,0.851673,-0.019046,0.775932,-0.369639

In [100]:
X_estandar = data_estandar.drop(['Absenteeism time in hours'], axis=1)
Y_estandar= data_estandar['Absenteeism time in hours']

In [101]:
X_train_estandar, X_test_estandar, y_train_estandar, y_test_estandar = train_test_split(X_estandar, Y_estandar, test_size = 0.211, random_state = 0)
# ComparaciÃ³n de tamaÃ±os
X_train_estandar.shape, X_test_estandar.shape

((583, 18), (157, 18))

In [102]:
regressor_estandar = LinearRegression()  
regressor_estandar.fit(X_train_estandar, y_train_estandar) #training the algorithm

LinearRegression()

In [103]:
#To retrieve the intercept:
print(regressor_estandar.intercept_)

0.00680760240366885

In [104]:
coeff_df_estandar = pd.DataFrame(zip(X_estandar.columns,regressor_estandar.coef_))  
coeff_df_estandar

                                  0         1
0                Reason for absence -0.332437
1                  Month of absence  0.035528
2                   Day of the week -0.131787
3            Transportation expense  0.008026
4   Distance from Residence to Work -0.004680
5                      Service time  0.007765
6                               Age  0.122334
7            Work load Average/day  -0.037768
8                        Hit target  0.053354
9              Disciplinary failure -0.301144
10                        Education -0.092759
11                              Son  0.120949
12                   Social drinker  0.034157
13                    Social smoker -0.086993
14                              Pet -0.028431
15                           Weight  0.253892
16                           Height -0.018466
17                  Body mass index -0.391289

In [105]:
y_pred_estandar = regressor_estandar.predict(X_test_estandar)

In [106]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test_estandar, y_pred_estandar))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test_estandar, y_pred_estandar))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_estandar, y_pred_estandar)))
print('R^2:', metrics.r2_score(y_test_estandar, y_pred_estandar))

Mean Absolute Error: 0.47593002634898607
Mean Squared Error: 0.6290980444833508
Root Mean Squared Error: 0.7931570112426359
R^2: 0.053536858784688945

In [111]:
print("\n=========== SUMMARY ===========")
stats.summary(regressor_estandar, X_train_estandar, y_train_estandar, X_estandar.columns)

=========== SUMMARY ===========
Residuals:
    Min      1Q  Median      3Q     Max
-7.7886 -0.1397   0.124  0.3731  1.4284


Coefficients:
                                 Estimate  Std. Error  t value   p value
_intercept                       0.006808    0.039717   0.1714  0.863966
Reason for absence              -0.332437    0.047487  -7.0006  0.000000
Month of absence                 0.035528    0.044250   0.8029  0.422366
Day of the week                 -0.131787    0.040923  -3.2203  0.001352
Transportation expense           0.008026    0.050073   0.1603  0.872710
Distance from Residence to Work -0.004680    0.056673  -0.0826  0.934210
Service time                     0.007765    0.065590   0.1184  0.905807
Age                              0.122334    0.057748   2.1184  0.034564
Work load Average/day           -0.037768    0.041462  -0.9109  0.362719
Hit target                       0.053354    0.045184   1.1808  0.238161
Disciplinary failure            -0.301144    0.047970  -6.2778  0.000000
Education                       -0.092759    0.046799  -1.9821  0.047943
Son                              0.120949    0.046928   2.5774  0.010201
Social drinker                   0.034157    0.057733   0.5916  0.554326
Social smoker                   -0.086993    0.043666  -1.9922  0.046811
Pet                             -0.028431    0.046739  -0.6083  0.543227
Weight                           0.253892    0.373644   0.6795  0.497090
Height                          -0.018466    0.103519  -0.1784  0.858484
Body mass index                 -0.391289    0.346371  -1.1297  0.259075
---
R-squared:  0.16037,    Adjusted R-squared:  0.13357
F-statistic: 5.98 on 18 features

## SelecciÃ³n de variables

### Con minmax

In [115]:
data_minmax[data_minmax.columns[1:]].corr()['Absenteeism time in hours'][:]

Month of absence                   0.024345
Day of the week                   -0.124361
Transportation expense             0.027585
Distance from Residence to Work   -0.088363
Service time                       0.019029
Age                                0.065760
Work load Average/day              0.024749
Hit target                         0.026695
Disciplinary failure              -0.124248
Education                         -0.046235
Son                                0.113756
Social drinker                     0.065067
Social smoker                     -0.008936
Pet                               -0.028277
Weight                             0.015789
Height                             0.144420
Body mass index                   -0.049719
Absenteeism time in hours          1.000000
Name: Absenteeism time in hours, dtype: float64

### Con standard

In [113]:
data_estandar[data_estandar.columns[1:]].corr()['Absenteeism time in hours'][:]

Month of absence                   0.024345
Day of the week                   -0.124361
Transportation expense             0.027585
Distance from Residence to Work   -0.088363
Service time                       0.019029
Age                                0.065760
Work load Average/day              0.024749
Hit target                         0.026695
Disciplinary failure              -0.124248
Education                         -0.046235
Son                                0.113756
Social drinker                     0.065067
Social smoker                     -0.008936
Pet                               -0.028277
Weight                             0.015789
Height                             0.144420
Body mass index                   -0.049719
Absenteeism time in hours          1.000000
Name: Absenteeism time in hours, dtype: float64